/* Write your CSS here */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  background-size: cover;
}
.heading {
  color: #1e293b;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Bree Serif';
}
.input-container {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border: 2px #7b8794 solid;
  justify-content: space-between;
  background-color: transparent;
  width: 20%;
}
.input {
  padding-left: 4px;
  outline: none;
  border-width: 0px;
  width: 80%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Bree serif';
  background-color: transparent;
}
.search-icon-image {
  width: 50%;
  height: 50%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}
.apps-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.each-line {
  display: flex;
  flex: row;
  width: 45%;
  flex-wrap: wrap;
}
